body {
    background-color: #f58321;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Lilita One', cursive;
}

@media only screen and (max-width: 483px) {

    #title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        font-size: xx-large;
    }
    }

    #heading{
        display: flex;
        flex-direction: row;
    }

    #logo {
        width: 30vw;
    }

    #instruction {
        text-decoration: underline;
        margin-left: 5vw;
    }

    .days{
        display: flex;
        flex-direction: row;
        padding-left: 15vw;
    }

    #hours_worked {
        display:flex;
        flex-direction: column;
    }

    .hours_box{
        width: 30vw;
        height: 4vh;
    }

    #comms{
        display:flex;
        direction: row;
    }

    #comms {
        display: flex;
        text-align:justify;
        justify-content: center;
        height:6vh;
    }

    #commission{
        padding-right: 20px;
        
    }

    #number{
        padding-left:10px;
    }

    #visa-tax {
        display: flex;
        direction: row;
        justify-content: center;
        margin-top:20px;
        padding-left: 10px;
    }

    #pay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border: black solid;
        color:black;

    }

}